# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

### Update e Delete

In [2]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('dsa.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
      
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2016', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 70.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicos
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])  
        
# Update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 70.00 WHERE valor = 98.0")
    conn.commit()
    
# Delete
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 62.0")
    conn.commit()

In [3]:
atualiza_dados()

In [4]:
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2019-05-06 15:01:19.646079', 'Monitor', 54.0)
(12, '2019-05-06 15:01:20.726494', 'Monitor', 72.0)
(13, '2019-05-06 15:01:21.783563', 'Monitor', 79.0)
(14, '2019-05-06 15:01:22.841428', 'Monitor', 51.0)
(15, '2019-05-06 15:01:23.900499', 'Monitor', 96.0)
(16, '2019-05-06 15:01:24.975663', 'Monitor', 80.0)
(17, '2019-05-06 15:01:26.033431', 'Monitor', 59.0)
(18, '2019-05-06 15:01:27.092572', 'Monitor', 89.0)
(19, '2019-05-06 15:01:28.151065', 'Monitor', 95.0)
(20, '2019-05-06 15:01:29.209547', 'Monitor', 81.0)
(21, '2019-05-06 15:01:54.468665', 'Monitor', 53.0)
(22, '2019-05-06 15:01:55.539023', 'Monitor', 57.0)
(23, '2019-05-06 15:01:56.596374', 'Monitor', 97.0)
(24, '2019-05-06 15:01:57.646589', 'Monitor', 68.0)
(25, '2019-05-06 15:01:58.713379', 'Monitor', 78.0)
(26, '2019-05-06 15:01:59.763488', 'Monitor', 72.0)
(27, '2019-05-06 15:02:00.813440', 'Monitor', 97.0)
(28, '2019-05-06 15:02:01.863761', 'Monitor', 96.0)
(29, '2019-05-06 15:02:02.988903', 'Monitor', 95.0)
(30, '2019-05-06 15:02:04.047368', 'Monitor', 61.0)

In [5]:
remove_dados()

In [6]:
leitura_todos_dados()

(10, '2018-05-02 14:32:11', 'Teclado', 90.0)
(11, '2019-05-06 15:01:19.646079', 'Monitor', 54.0)
(12, '2019-05-06 15:01:20.726494', 'Monitor', 72.0)
(13, '2019-05-06 15:01:21.783563', 'Monitor', 79.0)
(14, '2019-05-06 15:01:22.841428', 'Monitor', 51.0)
(15, '2019-05-06 15:01:23.900499', 'Monitor', 96.0)
(16, '2019-05-06 15:01:24.975663', 'Monitor', 80.0)
(17, '2019-05-06 15:01:26.033431', 'Monitor', 59.0)
(18, '2019-05-06 15:01:27.092572', 'Monitor', 89.0)
(19, '2019-05-06 15:01:28.151065', 'Monitor', 95.0)
(20, '2019-05-06 15:01:29.209547', 'Monitor', 81.0)
(21, '2019-05-06 15:01:54.468665', 'Monitor', 53.0)
(22, '2019-05-06 15:01:55.539023', 'Monitor', 57.0)
(23, '2019-05-06 15:01:56.596374', 'Monitor', 97.0)
(24, '2019-05-06 15:01:57.646589', 'Monitor', 68.0)
(25, '2019-05-06 15:01:58.713379', 'Monitor', 78.0)
(26, '2019-05-06 15:01:59.763488', 'Monitor', 72.0)
(27, '2019-05-06 15:02:00.813440', 'Monitor', 97.0)
(28, '2019-05-06 15:02:01.863761', 'Monitor', 96.0)
(29, '2019-05-06 15:02:02.988903', 'Monitor', 95.0)
(30, '2019-05-06 15:02:04.047368', 'Monitor', 61.0)

In [176]:
# Criando uma conxão com o banco de dados
conn = sqlite3.connect('teste.db')

In [177]:
# Criando o curso
c = conn.cursor()

In [209]:
def create_table(table):
    c.execute("CREATE TABLE IF NOT EXISTS %s (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, nome TEXT)" % table)

In [213]:
def data_insert(aluno, table):
    c.execute("INSERT INTO %s (nome) VALUES (?)" %table, (aluno,))
    conn.commit()

In [214]:
def data_readAll(table):
    c.execute("SELECT * FROM %s" %table)
    for linha in c.fetchall():
        print(linha)

In [215]:
create_table('teste')

In [216]:
data_insert('Testando', 'teste')

In [217]:
data_readAll('alunos')

(1, 'Wellyson')
(2, 'Wellyson Martins')
(3, 'Mônica Martins')
(4, 'Teste')
(5, 'Testando')
(6, 'Testando')
(7, 'Testando')
(8, 'Testando')

In [218]:
data_readAll('teste')

(1, 'Testando')

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>